/* Estilo geral */
body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    background: #1e1e2f;
    color: #f5f5f5;
}

hr{
    width: 840px;
}

/* Header */
#header_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 10;
}

.header_home {
    background: #2c2f3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.list_header {
    list-style: none;
    display: flex;
    margin: 0;
    position: relative;
    z-index: 10;
    padding: 0;
}

.list_header .current {
    color: gray; /* Cor para o botão da página atual */
    pointer-events: none; /* Remove a possibilidade de clicar */
    cursor: default; /* Indica que o botão não é clicável */
}

.pages{
    pointer-events: auto;
}

.list_header .name {
    margin-right: 15px;
}

.list_header .pages {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.list_header .pages:hover {
    text-decoration: none;
    color: #c5c5c5;
}

/* Botões do usuário */
.container_button{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -34px;
}

.container_button .button {
    display: inline-block;
    margin-left: 10px;
}

.container_button a {
    text-decoration: none;
    padding: 5px 10px;
    background: linear-gradient(135deg, #1e90ff, #4b6584);
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
    transition: color 0.3s ease;
}

.container_button a:hover {
    background: linear-gradient(135deg, #4b6584, #1e90ff);
    color: #c5c5c5;
}

#navLogin{
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    margin-right: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#navLogin:hover{
    cursor: pointer;
    background-color: #1e1e2f;
    border-radius: 5px;
}

#navLogin:focus{
    background-color: #1e1e2f;
    border-radius: 5px;
}

#photoP{
    border-radius: 40px;
    margin: 0 7px 0 0;
}

/*  */
#buy{
    padding: 3px 10px;
    background-color: #2c2f3b;
    border: none;
}

#buy:hover{
    cursor: pointer;
    background-color:#1e1e2f;
    border: none;
    border-radius: 5px;
}
/*  */

#header_menu{
    list-style: none;
    margin: 1px 0;
    padding: 10px;
    background-color: #1e1e2f;
}

/* Banner */
.banner_image {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
}

.banner_image img {
    filter: brightness(70%) blur(2.6px);
}

#text__banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-family: 'Permanent Marker', cursive;
    color: #ffffff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

/* Conteúdo */
.container_content {
    margin: -163px auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

#text_content {
    height: 164px;
    font-size: 18px;
    background: #2c2f3b;
    padding: 35px 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
}

#text_content span {
    color: #dcdcdc;
}

/* Animação do hover nos links */
.pages:hover {
    color: #00aaff;
    text-decoration: underline;
}

/* MENU */
#userMenu {
    display: none; /* Oculto por padrão */
}

#userMenu.show {
    display: flex;
    position: absolute;
    top: 28px;
    z-index: 2;
}

.menu_list{
    margin: 10px 0 20px 0;
}
