@font-face {
    font-family: "Agdasima", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Permanent+Marker&display=swap');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e1e2f, #4b6584);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container principal */
.form_user {
    position: relative;
    width: 400px;
    height: 600px;
    background: url('../image/1338599.png') no-repeat center center/cover;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container_formLogin{
    width: 350px;
    height: 250px;
}

/* Formulário */
form {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-family: "Agdasima", sans-serif;
}

/* Estilo dos inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 0 0 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input:focus {
    border-color: #4b6584;
    outline: none;
    box-shadow: 0 0 8px rgba(75, 101, 132, 0.5);
}


#inputUserLog,#inputPasswordLog{
    margin: 20px 0;
}

/* Botão */
.botao {
    width: 53%;
    padding: 7px;
    background: linear-gradient(135deg, #1e90ff, #4b6584);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.botao:hover {
    background: linear-gradient(135deg, #4b6584, #1e90ff);
}
